# Random Forest for classifying actor

In [4]:
# Importing the needed library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import random

### Importing the dataset

In [7]:
data = pd.read_csv('train.csv')
# Dataset contains no null value
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Number words female                   1039 non-null   int64
 1   Total words                           1039 non-null   int64
 2   Number of words lead                  1039 non-null   float64
 3   Difference in words lead and co-lead  1039 non-null   int64
 4   Number of male actors                 1039 non-null   int64
 5   Year                                  1039 non-null   int64
 6   Number of female actors               1039 non-null   int64
 7   Number words male                     1039 non-null   int64
 8   Gross                                 1039 non-null   float64
 9   Mean Age Male                         1039 non-null   float64
 10  Mean Age Female                       1039 non-null   float64
 11  Age Lead                              1039 non-null   float64
 12  Age Co-Lead                           1039 non-null   float64
 13  Lead                                  1039 non-null   object
dtypes: float64(6), int64(7), object(1)
memory usage: 113.8+ KB

In [6]:
# How the dataset is formed
data.head()

,Number words female,Total words,Number of words lead,Difference in words lead and co-lead,Number of male actors,Year,Number of female actors,Number words male,Gross,Mean Age Male,Mean Age Female,Age Lead,Age Co-Lead,Lead
0,1512,6394,2251.0,343,2,1995,5,2631,142.0,51.500000,42.333333,46.0,65.0,Female
1,1524,8780,2020.0,1219,9,2001,4,5236,37.0,39.125000,29.333333,58.0,34.0,Male
2,155,4176,942.0,787,7,1968,1,3079,376.0,42.500000,37.000000,46.0,37.0,Male
3,1073,9855,3440.0,2623,12,2002,2,5342,19.0,35.222222,21.500000,33.0,23.0,Male
4,1317,7688,3835.0,3149,8,1988,4,2536,40.0,45.250000,45.000000,36.0,39.0,Male

### TODO: Changing the lead value from female/male (Categorical) to numerical

In [17]:
numerical_data = {'Lead':{'Female': 1, 'Male': 0}}
data = data.replace(numerical_data)
data.head()

,Number words female,Total words,Number of words lead,Difference in words lead and co-lead,Number of male actors,Year,Number of female actors,Number words male,Gross,Mean Age Male,Mean Age Female,Age Lead,Age Co-Lead,Lead
0,1512,6394,2251.0,343,2,1995,5,2631,142.0,51.500000,42.333333,46.0,65.0,1
1,1524,8780,2020.0,1219,9,2001,4,5236,37.0,39.125000,29.333333,58.0,34.0,0
2,155,4176,942.0,787,7,1968,1,3079,376.0,42.500000,37.000000,46.0,37.0,0
3,1073,9855,3440.0,2623,12,2002,2,5342,19.0,35.222222,21.500000,33.0,23.0,0
4,1317,7688,3835.0,3149,8,1988,4,2536,40.0,45.250000,45.000000,36.0,39.0,0

### Train the model

In [32]:
# Import the needed the library
from sklearn.ensemble import RandomForestClassifier

# Get random state
random_int = random.Random().randint(0, 99999)
x = data.drop(['Lead'], axis=1)
y = data['Lead']
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=random_int, test_size=0.20)

random_forest = RandomForestClassifier(max_depth=2, random_state=0)

# Fit the model
random_forest.fit(x_train, y_train)

y_pred = random_forest.predict(x_test)
acc = random_forest.score(x_test, y_test)
print(f'The accuracy is {acc}')

The accuracy is 0.7548076923076923

### Cross validation

In [ ]:
from sklearn.model_selection import cross_val_score
random_forest_cv = RandomFores